

@tailwind base;
@tailwind components;
@tailwind utilities;


.custom-footer-button:hover {
    color: #FDEAB6 !important;
    
  }
  .custom-footer-button {
    width: 100% !important;
    padding: 0px !important;
  }

  